<!DOCTYPE html>
<html>
  <head>
    <script src="{{ url_for('static', filename='coffee-script.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='d3.v2.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='jquery-1.7.2.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='Tooltip.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='vis.coffee') }}" type="text/coffeescript"></script>
  </head>
  <body>
    <div id="vis"></div>
  </body>
</html>
</html>
